body{
background-color: #aa26f0;
}
.header1{
    color: white;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 210px;
    
    
}
h1{
    color: #ffd103;
}
.box  {
       background-image:url(Screenshot\ 2026-09-01\ 115811.png) ;
       background-size: cover;
      
}
.navbar a {
    
    padding: 10px 20px;
    color: white;
    background-color: #b8c1ec;
    border-radius: 8px;
    text-decoration: none;
}

.box {
    border: 2px solid #ffd103;
    border-radius: 15px;
    background-color: #b8c1ec;
    padding: 20px;
    box-shadow: 0 0 15px rgba(2, 73, 173, 0.4);
}
.class{
    color: #033278;
    background-color: #aa26f0;
    padding: 30px;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    transform: scale(0.95);
}
.class2 {
color: #033278;
    background-color: #aa26f0;
    padding: 20px;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    transform: scale(0.95);


}
.div2{

    padding:40px;
    color: rgb(0, 0, 0);
    border: 2px solid #0249ad;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(2, 73, 173, 0.4);
    height : 552px;
    width: 250px;
    background-color: #5b9af8;
   margin-right: 10px;
}
.div2 a:hover {
    background-color: white;
    color: #0249ad;
}
p{
    width: 200px;
    height:200px;
}
.div3{

    padding:40px;
    color: rgb(0, 0, 0);
    border: 2px solid #0249ad;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(2, 73, 173, 0.4);
    height : 552px;
    width: 250px;
    background-color: #5b9af8;
   margin-right: 10px;
}
.div3 a:hover {
    background-color: white;
    color: #0249ad;
}
.div4{

    padding:40px;
    color: rgb(0, 0, 0);
    border: 2px solid #0249ad;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(2, 73, 173, 0.4);
    height : 552px;
    width: 250px;
    background-color: #5b9af8;
   margin-right: 10px;
}
.div4 a:hover {
    background-color: white;
    color: #0249ad;
}
.row{
  display: flex; 
}